<div class="form-card">
  <!-- HEADER -->

  <div class="header">
    <div class="header-icon">
      <mat-icon>person_add</mat-icon>
    </div>

    <div>
      <h2>Registro de Usuario</h2>

      <p>Completa la información según el rol del usuario</p>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="form-sections">
      <!-- IZQUIERDA -->

      <div class="form-section">
        <h3>Datos Generales</h3>

        <div class="form-group">
          <label>Rol <span>*</span></label>

          <div class="input-container">
            <mat-icon>person_outline</mat-icon>

            <select formControlName="roleId" class="form-control" (change)="onRoleChange()">
              <option value="" disabled>Selecciona un rol</option>
              @for (role of roles(); track role.id) {
                <option [ngValue]="role.id">
                  {{ role.nombre }}
                </option>
              }
            </select>
          </div>
          @if (f['roleId'].invalid && f['roleId'].touched) {
            <small class="error-message"> El correo es obligatorio </small>
          }
        </div>
        <div class="form-group">
          <label>Nombres <span>*</span></label>
          <div class="input-container">
            <mat-icon>person_outline</mat-icon>
            <input
              type="text"
              formControlName="nombres"
              placeholder="Ingresa los nombres"
              class="form-control"
              [class.is-invalid]="f['nombres'].invalid && f['nombres'].touched"
            />
          </div>
          @if (f['nombres'].invalid && f['nombres'].touched) {
            <small class="error-message"> El nombre es obligatorio </small>
          }
        </div>

        <div class="form-group">
          <label>Apellidos <span>*</span></label>
          <div class="input-container">
            <mat-icon>person_outline</mat-icon>
            <input
              type="text"
              formControlName="apellidos"
              placeholder="Ingresa los apellidos"
              class="form-control"
            />
          </div>
          @if (f['apellidos'].invalid && f['apellidos'].touched) {
            <small class="error-message"> Los apellidos son obligatorios </small>
          }
        </div>

        @if (isStudent) {
          <div class="form-group">
            <label>Nombre de Usuario <span>*</span></label>

            <div class="input-container">
              <mat-icon>person_outline</mat-icon>

              <div class="username-container">
                <input
                  type="text"
                  formControlName="nom_usuario"
                  class="form-control"
                  placeholder="Ejemplo:eithanjv123"
                />

                <mat-slide-toggle formControlName="autoUsername" (change)="toggleUsernameMode()">
                  Auto
                </mat-slide-toggle>
              </div>
            </div>
            @if (f['nom_usuario'].invalid && f['nom_usuario'].touched) {
              <small class="error-message"> El nombre de usuario es obligatorio </small>
            }
          </div>
        }

        @if (!isStudent) {
          <div class="grid-2">
            <div class="form-group">
              <label>Tipo Doc. <span>*</span></label>

              <div class="input-container">
                <mat-icon>person_outline</mat-icon>

                <select
                  formControlName="tipoDocId"
                  class="form-control"
                  (change)="onTipoDocumentoChange()"
                >
                  <option value="" disabled>Selecciona un Tipo Doc.</option>
                  @for (tipodoc of tipos_doc(); track tipodoc.id_tdi) {
                    <option [ngValue]="tipodoc.id_tdi">
                      {{ tipodoc.nombre }}
                    </option>
                  }
                </select>
              </div>
              @if (f['tipoDocId'].invalid && f['tipoDocId'].touched) {
                <small class="error-message"> El Tipo de Doc. es obligatorio </small>
              }
            </div>
            <div class="form-group">
              <label>Número Doc.*</label>
              <div class="input-container">
                <mat-icon>person_outline</mat-icon>
                <input
                  type="text"
                  formControlName="num_doc"
                  placeholder="Ej: 12345678"
                  class="form-control"
                  [maxlength]="documentoMaxLength"
                  (keypress)="soloNumeros($event)"
                  (input)="limpiarDocumento()"
                />
              </div>
              @if (f['num_doc'].touched && f['num_doc'].errors?.['required']) {
                <small class="error-message"> El documento es obligatorio </small>
              }

              @if (f['num_doc'].touched && f['num_doc'].errors?.['pattern']) {
                <small class="error-message">
                  @switch (nom_tipo) {
                    @case ('DNI') {
                      El DNI debe contener exactamente 8 números.
                    }

                    @case ('CE') {
                      El carnet de extranjería debe contener entre 9 y 12 caracteres.
                    }

                    @case ('PASAPORTE') {
                      El pasaporte debe contener entre 6 y 12 caracteres.
                    }
                  }
                </small>
              }
            </div>
          </div>
        }
      </div>

      <!-- DERECHA -->

      <div class="form-section">
        @if (isStudent) {
          <div class="section-title">
            <mat-icon>face</mat-icon>

            <h3>Datos del Usuario Alumno</h3>
          </div>
          <div class="grid-1">
            <div class="form-group">
              <label>Seleccionar Avatar <span>*</span></label>
              <div class="avatars">
                @for (avatar of avatars; track avatar) {
                  <div
                    class="avatar-card"
                    [class.selected]="selectedAvatar === avatar"
                    (click)="selectAvatar(avatar)"
                  >
                    <img [src]="avatar" alt="Avatar" />

                    @if (selectedAvatar === avatar) {
                      <div class="check">
                        <mat-icon>check</mat-icon>
                      </div>
                    }
                  </div>
                }
              </div>
              @if (f['avatarId'].invalid && f['avatarId'].touched) {
                <small class="error-message"> El AVATAR es obligatorio </small>
              }
            </div>

            <div class="form-group">
              <label>PIN de 6 dígitos <span>*</span></label>
              <div class="pin-container">
                <input
                  #firstInput
                  type="text"
                  maxlength="1"
                  class="pin-input"
                  inputmode="numeric"
                  pattern="[0-9]*"
                  (input)="handlePinInput($event, secondInput); validardigitosPIN()"
                  (keypress)="onNumberInput($event)"
                />

                <input
                  #secondInput
                  type="text"
                  maxlength="1"
                  class="pin-input"
                  (input)="handlePinInput($event, thirdInput); validardigitosPIN()"
                  (keydown)="movePrevious($event, firstInput)"
                  (keypress)="onNumberInput($event)"
                />

                <input
                  #thirdInput
                  type="text"
                  maxlength="1"
                  class="pin-input"
                  (input)="handlePinInput($event, fourthInput); validardigitosPIN()"
                  (keydown)="movePrevious($event, secondInput)"
                  (keypress)="onNumberInput($event)"
                />

                <input
                  #fourthInput
                  type="text"
                  maxlength="1"
                  class="pin-input"
                  (input)="handlePinInput($event, fifthInput); validardigitosPIN()"
                  (keydown)="movePrevious($event, thirdInput)"
                  (keypress)="onNumberInput($event)"
                />

                <input
                  #fifthInput
                  type="text"
                  maxlength="1"
                  class="pin-input"
                  (input)="handlePinInput($event, sixthInput); validardigitosPIN()"
                  (keydown)="movePrevious($event, fourthInput)"
                  (keypress)="onNumberInput($event)"
                />

                <input
                  #sixthInput
                  type="text"
                  maxlength="1"
                  class="pin-input"
                  (input)="handlePinInput($event, confirmFirstInput); validardigitosPIN()"
                  (keydown)="movePrevious($event, fifthInput)"
                  (keypress)="onNumberInput($event)"
                />
              </div>
              <small> El PIN debe tener exactamente 6 dígitos </small>
              @if (f['pin'].touched && (f['pin'].value ?? '').length !== 6) {
                <small class="error-message"> Debe ingresar los 6 dígitos del PIN </small>
              }
            </div>

            <div class="form-group">
              <label>Repita PIN de 6 dígitos <span>*</span></label>

              <div class="pin-container">
                <input
                  #confirmFirstInput
                  type="text"
                  maxlength="1"
                  class="pin-input"
                  inputmode="numeric"
                  pattern="[0-9]*"
                  (input)="handlePinInput($event, confirmSecondInput); validardigitosConfiPIN()"
                  (keypress)="onNumberInput($event)"
                />

                <input
                  #confirmSecondInput
                  type="text"
                  maxlength="1"
                  class="pin-input"
                  (input)="handlePinInput($event, confirmThirdInput); validardigitosConfiPIN()"
                  (keydown)="movePrevious($event, confirmFirstInput)"
                  (keypress)="onNumberInput($event)"
                />

                <input
                  #confirmThirdInput
                  type="text"
                  maxlength="1"
                  class="pin-input"
                  (input)="handlePinInput($event, confirmFourthInput); validardigitosConfiPIN()"
                  (keydown)="movePrevious($event, confirmSecondInput)"
                  (keypress)="onNumberInput($event)"
                />

                <input
                  #confirmFourthInput
                  type="text"
                  maxlength="1"
                  class="pin-input"
                  (input)="handlePinInput($event, confirmFifthInput); validardigitosConfiPIN()"
                  (keydown)="movePrevious($event, confirmThirdInput)"
                  (keypress)="onNumberInput($event)"
                />

                <input
                  #confirmFifthInput
                  type="text"
                  maxlength="1"
                  class="pin-input"
                  (input)="handlePinInput($event, confirmSixthInput); validardigitosConfiPIN()"
                  (keydown)="movePrevious($event, confirmFourthInput)"
                  (keypress)="onNumberInput($event)"
                />

                <input
                  #confirmSixthInput
                  type="text"
                  maxlength="1"
                  class="pin-input"
                  (input)="handleLastPinInput($event, btnguardarusu); validardigitosConfiPIN()"
                  (keydown)="movePrevious($event, confirmFifthInput)"
                  (keypress)="onNumberInput($event)"
                />
              </div>

              <small> El PIN debe tener exactamente 6 dígitos </small>
              @if (f['confirpin'].touched && (f['confirpin'].value ?? '').length !== 6) {
                <small class="error-message"> Debe ingresar los 6 dígitos del PIN </small>
              }
              @if (showPinMessage) {
                @if (pinError) {
                  <small class="error-message"> ❌ Los PIN no coinciden </small>
                } @else {
                  <small class="success-message"> ✅ Los PIN coinciden </small>
                }
              }
            </div>
          </div>
        }

        <!-- DATOS DE ACCESO -->

        @if (!isStudent) {
          <div class="section-title">
            <mat-icon>lock</mat-icon>

            <h3>Datos de Acceso al Sistema</h3>
          </div>

          <div class="grid-1">
            <div class="form-group">
              <label>Correo Electrónico *</label>
              <div class="input-container">
                <mat-icon>mail_outline</mat-icon>
                <input
                  type="email"
                  formControlName="correo"
                  placeholder="Ej: usuario@correo.com"
                  class="form-control"
                  (input)="validateEmails()"
                />
              </div>
              @if (f['correo'].errors?.['required'] && f['correo'].touched) {
                <small class="error-message">El correo es obligatorio.</small>
              }
              @if (f['correo'].errors?.['email']) {
                <small class="error-message">El formato del correo no es válido.</small>
              }
            </div>

            <div class="form-group">
              <label>Repita Correo Electrónico *</label>

              <div class="input-container">
                <mat-icon>mail_outline</mat-icon>

                <input
                  type="email"
                  formControlName="confircorreo"
                  placeholder="Ej: usuario@correo.com"
                  class="form-control"
                  (input)="validateEmails()"
                />
              </div>
              @if (f['confircorreo'].errors?.['required'] && f['correo'].touched) {
                <small class="error-message">El correo es obligatorio.</small>
              }
              @if (f['confircorreo'].errors?.['email']) {
                <small class="error-message">El formato del correo no es válido.</small>
              }
              @if (emailError) {
                <small class="error-message"> Los correos electrónicos no coinciden </small>
              }
              @if (emailsMatch) {
                <small class="success-message"> ✓ Los correos sí coinciden </small>
              }
            </div>
          </div>
          <div class="grid-1">
            <div class="form-group">
              <label>Contraseña *</label>

              <div class="input-container">
                <mat-icon>lock_outline</mat-icon>

                <input
                  [type]="showPassword1 ? 'text' : 'password'"
                  formControlName="password"
                  placeholder="Ingresa la contraseña"
                  class="form-control"
                />

                <mat-icon class="eye" (click)="togglePassword1()">
                  {{ showPassword1 ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </div>
            </div>

            <div class="form-group">
              <label>Repite Contraseña *</label>

              <div class="input-container">
                <mat-icon>lock_outline</mat-icon>

                <input
                  [type]="showPassword2 ? 'text' : 'password'"
                  formControlName="password2"
                  placeholder="Ingresa la contraseña"
                  class="form-control"
                />

                <mat-icon class="eye" (click)="togglePassword2()">
                  {{ showPassword2 ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </div>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="form-actions">
      <div class="actions">
        <button type="button" class="btn-cancel">
          <mat-icon>close</mat-icon>

          Cancelar
        </button>

        <button #btnguardarusu type="submit" class="btn-save">
          <mat-icon>person_add</mat-icon>

          Guardar Usuario
        </button>
      </div>
    </div>
  </form>
</div>
