<div class="container-fluid py-4">
  <!-- Header -->

  <div class="d-flex flex-column flex-lg-row justify-content-between align-items-lg-center mb-4">
    <div class="d-flex align-items-center mb-3 mb-lg-0">
      <div class="bg-light rounded-4 p-3 me-3 shadow-sm">
        <i class="bi bi-calendar-event text-primary fs-1"></i>
      </div>
      <div>
        <h1 class="fw-bold mb-1">Gestión de Años Lectivos</h1>
        <p class="text-muted mb-0">Administra los años lectivos del sistema educativo.</p>
      </div>
    </div>

    <button
      class="btn btn-primary px-4 py-2 rounded-3"
      [routerLink]="['/panel/anios/reg_anio_lectivo']"
    >
      <i class="bi bi-plus-lg me-2"></i>
      Nuevo Año Lectivo
    </button>
  </div>

  <!-- Cards -->

  <div class="row g-4 mb-4">
    <div class="col-md-6 col-xl-4">
      <div class="card border-0 shadow-sm rounded-4 h-100">
        <div class="card-body d-flex align-items-center">
          <div class="rounded-circle bg-primary bg-opacity-10 p-3 me-3">
            <i class="bi bi-archive text-primary fs-3"></i>
          </div>

          <div>
            <h2 class="fw-bold mb-0">{{ registrados }}</h2>
            <h5 class="mb-1">Registrado</h5>
            <small class="text-muted"> Año creado recientemente </small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card border-0 shadow-sm rounded-4 h-100">
        <div class="card-body d-flex align-items-center">
          <div class="rounded-circle bg-success bg-opacity-10 p-3 me-3">
            <i class="bi bi-rocket-takeoff text-success fs-3"></i>
          </div>

          <div>
            <h2 class="fw-bold mb-0">{{ activos }}</h2>
            <h5 class="mb-1">Activo</h5>
            <small class="text-success"> Año lectivo en curso </small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4">
      <div class="card border-0 shadow-sm rounded-4 h-100">
        <div class="card-body d-flex align-items-center">
          <div class="rounded-circle bg-warning bg-opacity-10 p-3 me-3">
            <i class="bi bi-lock text-warning fs-3"></i>
          </div>

          <div>
            <h2 class="fw-bold mb-0">{{ cerrados }}</h2>
            <h5 class="mb-1">Cerrados</h5>
            <small class="text-muted"> Años lectivos cerrados </small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabla -->

  <div class="card border-0 shadow-sm rounded-4">
    <div class="card-body">
      <div
        class="d-flex flex-column flex-lg-row justify-content-between align-items-lg-center mb-4"
      >
        <h4 class="fw-bold mb-3 mb-lg-0">Listado de Años Lectivos</h4>

        <div class="d-flex flex-column flex-md-row gap-2">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="search"
            (input)="filterAnio()"
            placeholder="Buscar año lectivo..."
          />

          <select class="form-select">
            <option>Filtrar por estado</option>
            <option>Activo</option>
            <option>Cerrado</option>
            <option>Archivado</option>
          </select>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table align-middle">
          <thead class="table-light">
            <tr>
              <th>N°</th>
              <th>Año Lectivo</th>
              <th>Nombre</th>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
              <th>Estado</th>
              <th>Docentes</th>
              <th>Alumnos</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            @for (anio of paginateAnios(); track anio.id_anio_lectivo) {
              <tr>
                <td>{{ (currentPage - 1) * pageSize + $index + 1 }}</td>
                <td>{{ anio.anio }}</td>
                <td>{{ anio.nombre }}</td>
                <td>{{ anio.fecha_inicio | date: 'dd/MM/yyyy' }}</td>
                <td>{{ anio.fecha_fin | date: 'dd/MM/yyyy' }}</td>
                <td style="text-align: center !important">
                  @if (anio.estado === 'REGISTRADO') {
                    <span class="badge bg-primary-subtle text-primary px-3 py-2"> Registrado </span>
                  } @else {
                    @if (anio.estado === 'INICIADO') {
                      <span class="badge bg-success-subtle text-success px-3 py-2"> Activo </span>
                    } @else {
                      <span class="badge bg-warning-subtle text-warning px-3 py-2"> Cerrado </span>
                    }
                  }
                </td>
                <td>8</td>
                <td>240</td>
                <td>
                  @if (anio.estado === 'REGISTRADO') {
                    <button
                      class="btn btn-outline-primary btn-sm"
                      matTooltip="Editar"
                      matTooltipPosition="above"
                      style="margin-right: 5px"
                      data-bs-toggle="modal"
                      data-bs-target="#modalGestionAnio"
                      (click)="seleccionarAnio(anio)"
                    >
                      <i class="bi bi-pencil-square"></i>
                    </button>
                    <button
                      class="btn btn-outline-success btn-sm"
                      matTooltip="Iniciar Año"
                      style="margin-right: 5px"
                      matTooltipPosition="above"
                      (click)="cambiarEstado(anio)"
                    >
                      <i class="bi bi-play-fill"></i>
                    </button>
                    <button
                      class="btn btn-outline-danger btn-sm"
                      matTooltip="Eliminar Año"
                      style="margin-right: 5px"
                      matTooltipPosition="above"
                      (click)="eliminarAnio(anio)"
                    >
                      <i class="bi bi-trash3"></i>
                    </button>
                  }
                  @if (anio.estado === 'INICIADO') {
                    <button
                      class="btn btn-outline-warning btn-sm"
                      style="margin-right: 5px"
                      matTooltip="Cerrar Año"
                      matTooltipPosition="above"
                      (click)="cambiarEstado(anio)"
                    >
                      <i class="bi bi-lock-fill"></i>
                    </button>
                    <button
                      class="btn btn-outline-info btn-sm"
                      style="margin-right: 5px"
                      matTooltip="Ver Detalle"
                      matTooltipPosition="above"
                    >
                      <i class="bi bi-eye"></i>
                    </button>
                  }
                  @if (anio.estado === 'CERRADO') {
                    <button
                      class="btn btn-outline-info btn-sm"
                      matTooltip="Ver Detalle"
                      matTooltipPosition="above"
                    >
                      <i class="bi bi-eye"></i>
                    </button>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <!-- Paginación -->

      <div class="align-items-center">
        <div class="pagination">
          <button mat-button color="primary" (click)="previousPage()" [disabled]="currentPage <= 1">
            Anterior
          </button>

          <span>
            Página {{ currentPage }}

            de

            {{ totalPages }}
          </span>

          <button
            mat-button
            color="primary"
            (click)="nextPage()"
            [disabled]="currentPage >= totalPages"
          >
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Leyenda -->

  <div class="card border-0 shadow-sm rounded-4 mt-4">
    <div class="card-body">
      <h5 class="fw-bold mb-4">Leyenda de Estados</h5>

      <div class="row">
        <div class="col-md-4">
          <span class="badge bg-primary rounded-circle p-2 me-2"></span>
          Registrado
          <div class="small text-muted">Año recien creado</div>
        </div>
        <div class="col-md-4">
          <span class="badge bg-success rounded-circle p-2 me-2"></span>
          Activo
          <div class="small text-muted">Año lectivo en curso</div>
        </div>

        <div class="col-md-4">
          <span class="badge bg-warning rounded-circle p-2 me-2"></span>
          Cerrado
          <div class="small text-muted">No permite registros, solo ver el detalle</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MODAL -->

<div class="modal fade" id="modalGestionAnio" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <!-- HEADER -->

      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">
          <i class="bi bi-gear-fill me-2"></i>
          Gestionar Año Lectivo {{ anioSeleccionado?.anio }}
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      <!-- BODY -->
      <form [formGroup]="form">
        <div class="modal-body">
          <!-- ESTADO -->
          <div
            class="alert"
            [ngClass]="{
              'alert-primary': anioSeleccionado?.estado === 'REGISTRADO',
              'alert-success': anioSeleccionado?.estado === 'INICIADO',
              'alert-warning': anioSeleccionado?.estado === 'CERRADO',
            }"
          >
            <strong>Estado Actual:</strong>
            @if (anioSeleccionado?.estado === 'REGISTRADO') {
              <span class="badge text-success px-4 py-1" style="font-size: 15px"> Registrado </span>
            } @else {
              @if (anioSeleccionado?.estado === 'INICIADO') {
                <span class="badge text-success px-4 py-1" style="font-size: 15px"> Activo </span>
              } @else {
                <span class="badge text-success px-4 py-1" style="font-size: 15px"> Cerrado </span>
              }
            }
          </div>

          <!-- DATOS -->

          <div class="card mb-4">
            <div class="card-header fw-bold">Información General</div>

            <div class="card-body">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label class="form-label fw-semibold">
                    Año Lectivo <span class="text-danger">*</span>
                  </label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      maxlength="4"
                      formControlName="anio"
                      placeholder="Ej: 2026"
                      (input)="validarAnio($event)"
                    />
                    <span class="input-group-text">
                      <i class="bi bi-calendar"></i>
                    </span>
                  </div>
                  <small class="text-secondary"> Ingrese el año (ej. 2025) </small>
                </div>

                <div class="col-md-6 mb-3">
                  <label class="form-label"> Nombre </label>

                  <input class="form-control" formControlName="nombre" readonly />
                </div>

                <div class="col-md-6 mb-3">
                  <label class="form-label"> Fecha Inicio </label>
                  <div class="input-group">
                    <input type="date" formControlName="fecha_inicio" class="form-control" />
                    <span class="input-group-text">
                      <i class="bi bi-calendar"></i>
                    </span>
                  </div>
                </div>

                <div class="col-md-6 mb-3">
                  <label class="form-label"> Fecha Fin </label>
                  <div class="input-group">
                    <input type="date" formControlName="fecha_fin" class="form-control" />
                    <span class="input-group-text">
                      <i class="bi bi-calendar"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--OBSERVACIONES-->
          <div class="card mb-4">
            <div class="card-header fw-bold">Observaciones (opcional)</div>

            <div class="card-body">
              <textarea
                rows="4"
                maxlength="500"
                class="form-control"
                formControlName="observaciones"
                placeholder="Ingrese observaciones adicionales (opcional)"
              ></textarea>

              <div class="d-flex justify-content-between mt-2">
                <small class="text-secondary">
                  Notas o comentarios adicionales sobre el año lectivo
                </small>

                <small class="text-secondary"> 0/500 </small>
              </div>
            </div>
          </div>
        </div>

        <!-- FOOTER -->

        <div class="modal-footer">
          <button class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>
