<div class="login-container">

  <!-- CARD -->
  <div class="login-card">

    <!-- BUTTON -->
    <button
      class="back-button"
      (click)="goBack()"
    >
      ← Cambiar rol
    </button>

    <!-- AVATAR -->
    <div
      class="avatar-circle"
      [style.background]="selectedRole()?.color"
    >

      <img
        [src]="'/assets/images/roles/'+selectedRole()?.icon" [alt]="selectedRole()?.nombre"
      >

    </div>

    <!-- TITLE -->
    <h2 [style.color]="selectedRole()?.color">
      {{ selectedRole()?.nombre }}
    </h2>

    <!-- SUBTITLE -->
    <p>
      Ingresa tus datos para continuar
    </p>

    <!-- FORM -->
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >

      <!-- general -->
      <ng-container *ngIf="selectedRole()?.tipo === 'GENERAL'">

        <div class="form-group">

          <label>Correo electrónico</label>

          <input
            type="email"
            formControlName="email"
            placeholder="correo@ejemplo.com"
          >

        </div>

        <div class="form-group">

          <label>Contraseña</label>

          <input
            type="password"
            formControlName="password"
            placeholder="********"
          >

        </div>

      </ng-container>

      <!-- alumno -->
      <ng-container *ngIf="selectedRole()?.tipo === 'ALUMNO'">

        <!-- AVATARES -->
  <div class="avatars-section">

    <label class="avatar-label">
      Selecciona tu avatar
    </label>

    <div class="avatars-grid">

      <div
        class="avatar-option"
        *ngFor="let avatar of avatars"
        [class.selected]="selectedAvatar === avatar"
        (click)="selectAvatar(avatar)"
      >

        <img
          [src]="avatar"
          alt="Avatar"
        >

      </div>

    </div>

  </div>

  <!-- USERNAME -->
  <div class="form-group">

    <label>Usuario</label>

    <input
      type="text"
      formControlName="username"
      placeholder="Escribe tu usuario"
    >

  </div>

  <!-- PIN -->
  <!-- PIN -->
<div class="pin-section">

  <label class="pin-label">
    PIN de 6 dígitos
  </label>

  <div class="pin-container">

    <!-- ICONO -->
    <div class="pin-box lock-box">
      🔒
    </div>

    <!-- INPUTS -->
    <input
        #firstInput
        type="text"
        maxlength="1"
        class="pin-input"

        inputmode="numeric"
        pattern="[0-9]*"

        (input)="handlePinInput($event, secondInput)"
        (keypress)="onNumberInput($event)"
    >

      <input
    #secondInput
    type="text"
    maxlength="1"
    class="pin-input"

    (input)="handlePinInput($event, thirdInput)"
    (keydown)="movePrevious($event, firstInput)"
    (keypress)="onNumberInput($event)"
  >

    <input
    #thirdInput
    type="text"
    maxlength="1"
    class="pin-input"

    (input)="handlePinInput($event, fourthInput)"
    (keydown)="movePrevious($event, secondInput)"
    (keypress)="onNumberInput($event)"
  >

     <input
    #fourthInput
    type="text"
    maxlength="1"
    class="pin-input"

    (input)="handlePinInput($event, fifthInput)"
    (keydown)="movePrevious($event, thirdInput)"
    (keypress)="onNumberInput($event)"
  >

    <input
    #fifthInput
    type="text"
    maxlength="1"
    class="pin-input"

    (input)="handlePinInput($event, sixthInput)"
    (keydown)="movePrevious($event, fourthInput)"
    (keypress)="onNumberInput($event)"
  >

    <input
    #sixthInput
    type="text"
    maxlength="1"
    class="pin-input"
    (input)="handleLastPinInput($event, btniniciarsesion)"
    (keydown)="movePrevious($event, fifthInput)"
    (keypress)="onNumberInput($event)"
  >

  </div>

  <!-- HELP -->
  <div class="pin-help">

    <span class="shield-icon">
      🛡️
    </span>

    <span>
      Escribe tu PIN de 6 dígitos
    </span>

  </div>

</div>

      </ng-container>

      <!-- BUTTON -->
      <button
        #btniniciarsesion
        type="submit"
        class="login-button"
        [style.background]="selectedRole()?.color"
      >
        Iniciar sesión
      </button>

    </form>

  </div>

</div>